# Dependencies
node_modules/
.pnpm-store/

# Next.js build
frontend/.next/
frontend/out/

# NestJS build
backend/dist/

# Netlify local cache
.netlify/
frontend/.netlify/

# OS / IDE
.DS_Store
*.log
.vscode/
.idea/
